body {
  position: relative;
  height: 100%;
  background-image: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 20px;
  user-select: none;
}

.react-calculadora {
  position: relative;
  margin: 0 auto;
  width: 320px;
  background-color: gray;
  box-shadow: 0 19px 38px black;
}

button {
  outline: none;
  border: 0;
  padding: 16px;
  font-size: 25px;
  line-height: 1;
  background-color: transparent;
  color: #ffce5c;
  transition: all 300ms;
  border: 1px solid #0001;
}

button:hover {
  color: #00a3f5;
  border: 2px solid #000000;
  font-size: 28px;
}

.result {
  position: relative;
  width: 320px;
  height: 80px;
  padding: 8px;
  padding-right: 30px;
  padding-left: 30px;
  overflow: hidden;
  background-color: rgba(19, 19, 19, 0.336);
  font-size: 32px;
  line-height: 2;
  color: #60d63c;
  text-align: right;
  direction: rtl;
  white-space: nowrap;
  box-sizing: border-box;
}

.functions button,
.math-operations button {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #da9ab8;
}

.functions button:hover,
.math-operations button:hover {
  color: #00a3f5;
  font-size: 38px;
}

.numbers {
  width: 240px;
  float: left;
}

.numbers button {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  float: left;
}

.numbers button:last-child {
  width: 100%;
}

.functions {
  float: left;
  width: 240px;
}
